.gilman-page {
    min-height: 100vh;
    background: #f9f9f9;
    color: #111;
}

.gilman-hero {
    width: 60%;
    height: 30vh;
    margin-top: 5vh;
    margin-left: 40vh;
    overflow: hidden;
    border-radius: 5vh;
}

.gilman-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gilman-content {
    max-width: 900px;
    margin: 0 auto;
    padding: 60px 24px;
}

.gilman-content h1 {
    font-size: 2.4rem;
    margin-bottom: 16px;
    text-align: center;
}

.gilman-link {
    display: inline-block;
    margin-bottom: 32px;
    font-weight: 500;
    color: #1a5fd0;
    text-decoration: none;
    margin-left: 26vh;
}
.gilman-link:hover {
    text-decoration: underline;
}

.gilman-content p {
    font-size: 1.1rem;
    line-height: 1.7;
    margin-bottom: 20px;
    text-align: center;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(2px);
  z-index: 1000;
}
.navbar-inner {
  max-width: 1450px;
  margin: 0 auto;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  box-sizing: border-box;
}
.navbar-name {
  color: black;
  font-size: 1rem;
  font-weight: 600;
  white-space: nowrap;
  text-decoration: none;
}
.navbar-links {
  display: flex;
  gap: 24px;
}
.navbar-links a {
  color: black;
  text-decoration: none;
  font-size: 0.95rem;
  white-space: nowrap;
}